.main {
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4bb34b;
    min-height: 44px;
    max-height: 44px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;

    &:hover {
      opacity: .9;
    }
  }
}

.list-group {
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px 15px 0;

    &-text {
      font-size: 14px;
      padding-left: 5px;
    }
  }
}
